body {
    margin: 0;
    font-family: Arial, sans-serif;
}

:root {
    --cream: #FFFEF8; /* Pink (like strawberry ice cream) */
    --pink: #EFADB9; /* A richer pink */
    --brown: #774B4C; /* Peach (like peach sorbet) */
    --white: #FBFFFE; /* Brown (like chocolate or cone) */
    --brown-dark: #3b2324;
    --pink-light: #f9e0e4;
    background-color: var(--cream);
}

/* Navbar container */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--pink); /* Equivalent to bg-body-tertiary */
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    align-items: center;
}

.nav-link  a {
    text-decoration: none;
    color: #000;
}

/* Navbar content */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.navbar-brand {
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
    color: var(--brown-dark)
}

.navbar-brand:hover{
    font-weight: 900;
}
/* Navbar links */
.navbar-nav {
    display: flex;
    gap: 1rem;
    
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--brown-dark);
    padding: 0 15px;
}

.nav-link:hover {
    text-decoration: underline;
}

.activated {
    font-weight: bold; /* Style for the active link */
    
}

.activated:hover{
    text-decoration: initial;
    cursor:initial;
}
/* Pure CSS */
footer {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


footer .links a {
    margin: 0 10px;
    text-decoration: none;
    color: #0078d7;
    font-size: 1.2em;
}

footer .links a:hover {
    color: #0056a3;
}


#hero {
background: var(--cream);
padding: 80px 0;
overflow: hidden;
}

.hero-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}
.hero-content > * {
    width: 100%;
    text-align: center;
}
.hero-content h1 {
    margin: 0;
    color: var(--brown-dark);
    font-weight: 900;
    font-size: 80px;
    transition: transform 0.3s ease;
}

.hero-content h1:hover {
    transform: scale(1.05);
}

.hero-content p {
    font-size: 25px;
    color: var(--brown);
    margin-bottom: 30px;
    opacity: 0.8;
}

.cta:not(svg){
    padding-top: 30px;
    display: block;
    color: var(--brown-dark);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.3s ease;
}

.contactme {
    background-color: var(--pink);
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.contactme:hover {
    transform: scale(1.05);
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.contacts a {
    margin-top: 30px;
    transition: all 0.3s ease;
}

.contacts a:hover {
    margin-top: 30px;
    transform: scale(1.1);
    cursor: pointer;
}

.hero-image {
    flex: 1;
    text-align: right;
    animation: fadeIn 2s ease-in-out;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.hero-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}


.description .content {
    border-radius: 20px;
    padding: 0;
    width: 80%;
    margin: 40px auto;
    background-color: var(--pink-light);
}

.description h2 {
    border-radius: 20px 20px 0 0;
    padding: 20px 30px;
    background-color: var(--pink);
}

.description p {
    font-size: 20px;
    padding: 15px 40px 25px;
}

.news-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e0e0e0;
}

.news-date {
    font-weight: bold;
    color: #555;
}
.news-title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px 0;
    color: #222;
}
.news-description {
    color: #666;
    margin-top: 5px;
}